<div class="row" data-ng-controller="SettingsCtrl">

    <!--Start devices panels-->
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="panel">
                <div class="panel panel-heading text-center">Help Sigfox Talking Plants to interact with humans</div>
                <div class="panel-body">
                    <p class="alert-danger">Not currently working... Available soon !!! You still can post suggestions they will be taken into account.</p>
                    <form>
                        <div class="form-group">
                            <label>Your Twitter username:</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" placeholder="Username" class="form-control" ng-model="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Your message:</label>
                            <p>Insert variable in message:</p>
                            <div class="btn-group">
                                <button class="btn btn-info" ng-click="insertHumidity()">Humidity</button>
                                <button class="btn btn-warning" ng-click="insertLightening()">Lightening</button>
                                <button class="btn btn-danger" ng-click="insertTemperature()">Temperature</button>
                                <button class="btn btn-success" disabled>Battery</button>
                            </div>
                            <p></p>
                            <textarea class="form-control" rows="5" ng-model="message"
                                      placeholder="Write your funny message... With respect ;) e.g. Please bring me water when you come back from lunch! or Wow it's so cold... Winter is coming!"
                                      ng-change="getRemainingCharacters()"></textarea>
                        </div>

                        <p>Remaining characters : {{remaining}}</p>
                        <div class="form-group">
                            <label>Tags (It will help to display the twit at the right time):</label>
                            <div class="checkbox disabled">
                                <label><input type="checkbox" ng-model="tags.normal">Normal: Good conditions</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.dry">Dry: humidity below 10%</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.hydrated">Hydrated: humidity above 50°%</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.hot">Hot: temperature above 30°C</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.cold">Cold: temperature below 15°C</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.weekend">Week end: from friday 9pm to
                                    monday 8am</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.lunchtime">Lunch time: from 12am to 2pm
                                    working day</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="tags.dark">Dark: lightening below 5%</label>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success" ng-click="" ng-show="disableButton" disabled>Send</button>
                    <button class="btn btn-success" ng-click="setRandomTwit()" ng-hide="disableButton">Send</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="panel">
                <div class="panel panel-heading text-center">Last suggestions</div>
                <div class="panel-body" data-ng-repeat="twit in twits">
                    <p><label>Posted by:</label>
                    @{{twit.username}}</p>
                    <p><label>Message:</label>
                    {{twit.message}}</p>
                    <hr>
                </div>
            </div>
        </div>
        <!--End devices panels-->
    </div>
</div>