<div class="row" data-ng-controller="SettingsCtrl">

    <!--Start devices panels-->
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="panel">
                <div class="panel panel-heading text-center">Help Sigfox Talking Plants to interact with humans</div>
                <div class="panel-body">
                    <p class="alert-danger">Not currently working... Available soon !!!</p>
                    <form>
                        <div class="form-group">
                            <label>Your Twitter username:</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" placeholder="Username" class="form-control" ng-model="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Your message:</label>
                            <textarea class="form-control" rows="5" ng-model="message" placeholder="Write your funny message... With respect ;)" ng-change="getRemainingCharacters()"></textarea>
                        </div>
                        <p>Remaining characters : {{remaining}}</p>
                        <div class="form-group">
                            <label>Tags (It will help to display the twit at the right time):</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Dry: humidity below 10%</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Hot: temperature above 30°C</label>
                            </div>
                            <div class="checkbox disabled">
                                <label><input type="checkbox" value="">Week end: from friday 9pm to monday 8am</label>
                            </div>
                            <div class="checkbox disabled">
                                <label><input type="checkbox" value="">Lunch time: from 12am to 2pm working day</label>
                            </div>
                            <div class="checkbox disabled">
                                <label><input type="checkbox" value="">Night: lightening below 5%</label>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success" ng-click="" ng-show="disableButton" disabled>Send</button>
                    <button class="btn btn-success" ng-click="" ng-hide="disableButton">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!--End devices panels-->
</div>